@model QuizViewModel

<form method="post" asp-action="AddQuiz" class="form-group">
    <label>Title</label>
    <input type="text" name="Title" class="form-control" required />

    <label>Description</label>
    <textarea name="Description" class="form-control" required></textarea>

    <div class="form-group">
        <label for="TotalQuestions">Number of Questions to Display to Students</label>
        <input type="number" class="form-control" name="TotalQuestions" id="TotalQuestions" min="1" required />
    </div>


    <button type="submit" class="btn btn-primary mt-3">Add Quiz</button>
</form>

